<div class= "flex-grow-1 flex-shrink-0">
    <div class="container" id="home-container">
        <div class="container-fluid text-light p-5 text-center" id="jumbotron">
            <div class="container p-5">
                <h1 class="display-4">Alpha Blog</h1>
                <hr>
                <p>Sample Blog Website</p>
                <a href="#" class="btn btn-success">Sign Up!</a>
            </div>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark flex-shrink-0 text-light">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer>